
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site-->
<main id="site-main">
    <div class="page-header text-center">
        <br>
        <h3>Create a new product</h3>
        <br>
    </div>

    <!-- add user form -->
    <%- include('include/_form') %> 
</main>
<!-- /Main Site-->

<!-- footer header -->
<%- include('include/_footer') %>
<!-- /footer header -->