
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- main site-->
<main id="site-main">
    <div class="page-header text-center">
        <br>
        <h3>Products</h3>
        <br>
    </div>
    
    <!-- table -->
    <table class="table table-hover">
        <thead class="table-primary">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <%- include('include/_show') %>
        </tbody>
    </table>
    <!-- /table -->
</main>
<!-- /main site-->

<!-- footer header -->
<%- include('include/_footer') %>
<!-- /footer header -->